  <div class="bar-container">
    <div style="background-color: pink;"class="bar" ng-repeat="bar in barCtrl.bars | orderBy: '-rating'">
      <img class="icon" src="cocktail.png"/>
      <ul class="bar-info">
        <li class="info-item">{{bar.name}}</li>
        <li class="info-item">{{bar.rating}} stars</li>
        <li class="info-item">{{barCtrl.metersToMiles(bar.distance)}} miles away</li>
        <a target="_blank" href="https://www.google.com/maps/dir//{{bar.location.address[0]}} {{bar.location.city}} {{bar.location.state_code}}/">directions</a>
      </ul>
    </div>
  </div>
  <div class="loading-container">
    <img class="loading" src="loading.gif" />
    <img class="loading" src="loading.gif" />
    <img class="loading" src="loading.gif" />
    <img class="loading" src="loading.gif" />
    <img class="loading" src="loading.gif" />
    <img class="loading" src="loading.gif" />
    <img class="loading" src="loading.gif" />
    <img class="loading" src="loading.gif" />
    <img class="loading" src="loading.gif" />
    <img class="loading" src="loading.gif" />
    <img class="loading" src="loading.gif" />
    <img class="loading" src="loading.gif" />
    <img class="loading" src="loading.gif" />
    <img class="loading" src="loading.gif" />
    <img class="loading" src="loading.gif" />
    <img class="loading" src="loading.gif" />
    <img class="loading" src="loading.gif" />
    <img class="loading" src="loading.gif" />
    <img class="loading" src="loading.gif" />
    <img class="loading" src="loading.gif" />
    <img class="loading" src="loading.gif" />
    <img class="loading" src="loading.gif" />
  </div>
