* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: f2f2f2;
}

ul {
  list-style-type: none;
}

.title {
  color: #6E6E6E;
  background-color: #f1f1f1;
  width: 100%;
  font-size: 100px;
  text-align: center;
  top: 0px;
  left: 0px;
  height: 150px;
  line-height: 165px;
  position: fixed;
  z-index: 10;
}

.bar-container, .loading-container {
  width: 98%;
  margin: 0 auto;
  margin-top: 17%;
}

.icon {
  width: 64%;
  opacity: 0.2;
  margin-top: 10%;
}

.bar {
  width: 49%;
  margin: .5%;
  height: 430px;
  display: inline-block;
  vertical-align:top;
  text-align: center;
  border-radius: 8%;
  box-shadow: inset 0 2em 3em -2em white;
  margin-bottom: 1.5%;
  overflow: scroll;
  background-color: #B4DED6;
}

.loading {
  width: 4%;
  margin: 22%;
  display: inline-block;
}

.bar-info {
  color: #6E6E6E;
  position: relative;
  margin-top: -68%;
}


.info-item {
  font-size: 60px;
  margin-bottom: 7%;
}

.extra-info-item {
  font-size: 60px;
  margin-bottom: 2%;
}


.directions {
  border: 1px solid #6E6E6E;
  border-radius: 10%;
  padding: 1%;
  text-decoration: none;
  color: #6E6E6E;
  font-size: 40px;
  background-color: #f2f2f2;
  z-index: 5;
  margin-top: 2%;
}

.name, .extra-name {
  font-weight: bold;
  text-decoration: underline;
}

.extra-name {
  padding: 2%;
}

.rating, .distance, .category {
  font-size: 40px;
}

.fadein {
  animation: fade 1s;
}

.slideup {
  animation: slideup 4s;
  background-color: blue;

}

@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes slideup {
  0% {max-height: 0;}
  100% {max-height: 300px;}
}

.extra-info {
  color: #6E6E6E;
  background-color: #D6CCED;
  padding-bottom: 21%;
  margin-top: -75%;

}

.nav-item {
  position: relative;
  z-index: 11;
  margin-top: 7%;
  margin-left: 4%;

}

.nav-link {
  color: ghostwhite;
  font-size: 70px;
  text-decoration: none;
}

.menu {
  width: 50%;
  position: fixed;
  background-color: #666666;
  height: 50vh;
  z-index: 10;
  left: -900px;
  border-radius: 10%;
}

.menu-hide {
  z-index: 30;
  top: 130px;
  left: 10px;
}
